Repository pulumi/pulumi-hugo, pull requests merged in 2021-04, with the labels that each got.

#21 fix console docs nav
  themes/default/content/docs/intro/console/_index.md
  themes/default/content/docs/intro/console/accounts-and-organizations/_index.md
  themes/default/content/docs/intro/console/accounts-and-organizations/editions.md
  themes/default/content/docs/intro/console/accounts.md
  themes/default/content/docs/intro/console/auditing.md
  themes/default/content/docs/intro/console/ci-cd-integration-assistant.md
  themes/default/content/docs/intro/console/collaboration/_index.md
  themes/default/content/docs/intro/console/extensions/_index.md
  themes/default/content/docs/intro/console/organization-roles.md
  themes/default/content/docs/intro/console/organizations.md
  themes/default/content/docs/intro/console/project-and-stack-management.md
  themes/default/content/docs/intro/console/pulumi-button.md
  themes/default/content/docs/intro/console/stack-permissions.md
  themes/default/content/docs/intro/console/teams.md
  themes/default/content/docs/intro/console/webhooks.md
Labels: area/docs, area/www

#54 Add Kimberley to team page
  themes/default/data/team/team/kimberley-mackenzie.toml
  themes/default/static/images/team/kimberley-mackenzie.jpg
Labels: area/www

#46 update cicd docs
  themes/default/content/docs/intro/console/ci-cd-integration-assistant.md
  themes/default/layouts/page/pricing.html
Labels: area/docs
