Repository pulumi/pulumi-hugo, pull requests merged in 2022-06, with the labels that each got.

#1589 Add Robbie McKinstry to the team page.
  themes/default/data/team/team/robbie-mckinstry.toml
  themes/default/static/images/team/robbie-mckinstry.jpg
Labels: impact/no-changelog-required, kind/chore, size/XS

#1626 Document the schema for bulk imports
  themes/default/content/docs/guides/adopting/import.md
Labels: area/docs, docs/cli

#1653 Add warning to resource options docs
  themes/default/content/docs/intro/concepts/resources/options/additionalsecretoutputs.md
  themes/default/content/docs/intro/concepts/resources/options/customtimeouts.md
  themes/default/content/docs/intro/concepts/resources/options/ignorechanges.md
  themes/default/content/docs/intro/concepts/resources/options/replaceonchanges.md
  themes/default/content/docs/intro/concepts/resources/options/retainOnDelete.md
Labels: area/docs, impact/no-changelog-required, kind/chore, size/XS, docs/intro

#1689 Name of environment variable was wrong in the example
  themes/default/content/docs/reference/cli/environment-variables.md
Labels: area/docs, needs-triage, impact/no-changelog-required, docs/cli
