Repository pulumi/pulumi-hugo, pull requests merged in 2022-08, with the labels that each got.

#1803 fix: Adds Java and YAML language-specific shortcodes
  themes/default/content/docs/support/troubleshooting.md
  themes/default/layouts/shortcodes/pulumi-host.html
  themes/default/layouts/shortcodes/pulumi-language.html
Labels: area/docs

#1825 Clarify Copy on Supported Py Version
  themes/default/content/docs/intro/languages/python.md
Labels: area/docs, impact/no-changelog-required, language/python, kind/chore

#1850 log is a method in context
  themes/default/content/docs/intro/concepts/logging.md
Labels: area/docs, kind/bug, impact/no-changelog-required, docs/examples

#1882 fix(java): patch java errors and mistakes
  themes/default/content/learn/pulumi-fundamentals/configure-and-provision/index.md
  themes/default/content/learn/pulumi-fundamentals/create-docker-images/index.md
Labels: area/learn
