Repository pulumi/pulumi-hugo, pull requests merged in 2022-04, with the labels that each got.

#1241 Blog: Unlock Programmatic Control by Disabling Default Providers
  themes/default/content/blog/disable-default-providers/disable-default-providers.png
  themes/default/content/blog/disable-default-providers/index.md
Labels: area/blog

#1318 Update BLOGGING.md
  BLOGGING.md
Labels: area/blog

#1370 Remove and redirect /get-started
  themes/default/content/docs/get-started/_index.md
  themes/default/content/get-started/_index.md
  themes/default/layouts/page/get-started.html
Labels: docs/get-started, kind/experiment

#1378 Indicate there's more content in docs TOC
  go.mod
  go.sum
  themes/default/content/docs/converters/_index.md
  themes/default/content/docs/troubleshooting/overview.md
  themes/default/layouts/docs/list.html
  themes/default/layouts/docs/single.html
  themes/default/layouts/partials/docs/toc.html
Labels: do-not-merge
