Repository pulumi/pulumi-hugo, pull requests merged in 2022-10, with the labels that each got.

#1529 [DO NOT MERGE] mobile nav updates
  go.mod
  go.sum
  themes/default/layouts/partials/header.html
  themes/default/static/icons/square-foot.svg
Labels: do-not-merge

#2032 camelCase YAML reference docs
  themes/default/content/docs/reference/yaml/_index.md
Labels: docs/reference

#1996 CX pulumi security posture
  themes/default/content/blog/using-pulumi-securely/index.md
  themes/default/content/blog/using-pulumi-securely/meta.png
Labels: area/blog

#2035 Remove vestigial column values in Resource Options table
  themes/default/content/docs/reference/yaml/_index.md
Labels: impact/no-changelog-required
