Repository pulumi/pulumi-hugo, pull requests merged in 2023-05, with the labels that each got.

#2760 Add PUG post
  themes/default/content/blog/join-pulumi-user-group-community/index.md
  themes/default/content/blog/join-pulumi-user-group-community/meta.png
  themes/default/content/blog/join-pulumi-user-group-community/pulumi-user-group-pug-london-joe-duffy.png
  themes/default/content/blog/join-pulumi-user-group-community/pulumi-user-group-pug-london-sam-cogan.png
Labels: area/blog

#2804 Update button labels (Get Started -> Get Started with X)
  themes/default/layouts/product/pulumi-deployments.html
  themes/default/layouts/product/pulumi-insights.html
Labels: area/site

#2823 Add Skai migration post
  themes/default/content/blog/how-skai-migrated-to-aws-keyspaces-with-pulumi/index.md
  themes/default/content/blog/how-skai-migrated-to-aws-keyspaces-with-pulumi/meta.png
  themes/default/content/blog/how-skai-migrated-to-aws-keyspaces-with-pulumi/skai-migration-diagram.png
Labels: area/blog, size/S

#2799 Add Pulumi AI and Registry blog post
  themes/default/content/blog/leveling-up-pulumi-ai-with-the-pulumi-registry/index.md
  themes/default/content/blog/leveling-up-pulumi-ai-with-the-pulumi-registry/meta.png
  themes/default/content/blog/leveling-up-pulumi-ai-with-the-pulumi-registry/pulumi-ai-sharing.png
Labels: area/blog

#2853 [Scheduled] Add fifth Zephyr post on RBAC and security
  themes/default/content/blog/iac-recommended-practices-code-organization-and-stacks/index.md
  themes/default/content/blog/iac-recommended-practices-developer-stacks-git-branches/index.md
  themes/default/content/blog/iac-recommended-practices-rbac-and-security/index.md
  themes/default/content/blog/iac-recommended-practices-rbac-and-security/meta.png
  themes/default/content/blog/iac-recommended-practices-rbac-and-security/projects-and-repos.png
  themes/default/content/blog/iac-recommended-practices-rbac-and-security/pulumi-cloud-permissions.png
  themes/default/content/blog/iac-recommended-practices-rbac-and-security/stacks-and-teams.png
  themes/default/content/blog/iac-recommended-practices-structuring-pulumi-projects/index.md
  themes/default/content/blog/iac-recommended-practices-using-stack-references/index.md
Labels: area/blog

#2858 [Scheduled] Release Notes March/April 2023
  themes/default/content/blog/pulumi-release-notes-87/data.png
  themes/default/content/blog/pulumi-release-notes-87/deploy_actions.png
  themes/default/content/blog/pulumi-release-notes-87/events.png
  themes/default/content/blog/pulumi-release-notes-87/history-details.png
  themes/default/content/blog/pulumi-release-notes-87/index.md
  themes/default/content/blog/pulumi-release-notes-87/meta.png
  themes/default/content/blog/pulumi-release-notes-87/retain-on-delete.png
  themes/default/content/blog/pulumi-release-notes-87/stacks_page.png
Labels: area/blog

#2901 Update "Understanding Encapsulation" Python code
  themes/default/content/learn/abstraction-encapsulation/encapsulation/index.md
Labels: size/S, area/learn
