Repository pulumi/pulumi-hugo, pull requests merged in 2023-03, with the labels that each got.

#2542 Add Zephyr post #2: Developer stacks and Git branches
  themes/default/content/blog/iac-recommended-practices-code-organization-and-stacks/index.md
  themes/default/content/blog/iac-recommended-practices-developer-stacks-git-branches/index.md
  themes/default/content/blog/iac-recommended-practices-developer-stacks-git-branches/meta.png
Labels: area/blog

#2553 Blog: Google Cloud Account Scraper
  BLOGGING.md
  bulkexport.txt
  themes/default/content/blog/google-cloud-pulumi-import-account-scraper/index.md
  themes/default/content/blog/google-cloud-pulumi-import-account-scraper/meta.png
Labels: area/blog

#2548 Add Zephyr blog post on structuring Pulumi projects
  themes/default/content/blog/iac-recommended-practices-structuring-pulumi-projects/index.md
  themes/default/content/blog/iac-recommended-practices-structuring-pulumi-projects/meta.png
  themes/default/content/docs/reference/project-file.md
Labels: do-not-merge

#2591 Pulumi Deployments Relaunch
  themes/default/content/blog/pulumi-deployments-platform-automation/deployments.png
  themes/default/content/blog/pulumi-deployments-platform-automation/index.md
  themes/default/content/blog/pulumi-deployments-platform-automation/meta.png
  themes/default/content/blog/pulumi-deployments-platform-automation/ui-deploy-button.png
  themes/default/content/docs/intro/deployments/_index.md
  themes/default/content/docs/intro/deployments/api.md
  themes/default/content/docs/intro/deployments/deployments.png
  themes/default/content/docs/intro/deployments/faq.md
  themes/default/content/docs/intro/deployments/oidc/_index.md
  themes/default/content/docs/intro/deployments/oidc/aws.md
  themes/default/content/docs/intro/deployments/oidc/azure.md
  themes/default/content/docs/intro/deployments/oidc/gcp.md
  themes/default/content/docs/intro/deployments/platform.md
  themes/default/content/docs/intro/deployments/reference.md
  themes/default/content/docs/intro/deployments/ttl.png
  themes/default/content/docs/intro/deployments/ui-deploy-button.png
  themes/default/content/docs/intro/deployments/ui-push-to-deploy.png
  themes/default/content/docs/intro/deployments/ui-settings.png
  themes/default/content/docs/intro/deployments/versus.md
  themes/default/content/docs/intro/pulumi-service/deployments.md
  themes/default/layouts/partials/banner.html
Labels: area/blog, area/docs

#2588 Add blog post on `pulumi stack init --team` flag
  themes/default/content/blog/stack-init-teams-flag/index.md
  themes/default/content/blog/stack-init-teams-flag/meta.png
Labels: area/blog

#2620 Add fourth Zephyr blog post
  themes/default/content/blog/iac-recommended-practices-code-organization-and-stacks/index.md
  themes/default/content/blog/iac-recommended-practices-developer-stacks-git-branches/index.md
  themes/default/content/blog/iac-recommended-practices-structuring-pulumi-projects/index.md
  themes/default/content/blog/iac-recommended-practices-using-stack-references/index.md
  themes/default/content/blog/iac-recommended-practices-using-stack-references/meta.png
  themes/default/content/blog/iac-recommended-practices-using-stack-references/projects-and-repos.png
Labels: area/blog
