Repository pulumi/pulumi-hugo, pull requests merged in 2023-01, with the labels that each got.

#2332 Documented the missing SMTP environment variables.
  themes/default/content/docs/guides/self-hosted/components/api.md
Labels: area/docs

#2369 Add Pulumi Deployments OIDC docs.
  themes/default/content/docs/guides/oidc/_index.md
  themes/default/content/docs/guides/oidc/aws.md
  themes/default/content/docs/guides/oidc/azure.md
  themes/default/content/docs/guides/oidc/gcp.md
  themes/default/content/docs/reference/deployments-rest-api/_index.md
Labels: area/docs

#2366 correcting vpcId typo in the docs to vpc_id
  themes/default/content/docs/guides/crosswalk/aws/vpc.md
Labels: awaiting-feedback

#2377 [Learn] Add Go to Building with Pulumi pathway
  themes/default/content/learn/building-with-pulumi/secrets/index.md
  themes/default/content/learn/building-with-pulumi/stack-outputs/index.md
  themes/default/content/learn/building-with-pulumi/stack-references/index.md
Labels: area/learn

#2394 [Learn ]Update Pulumi Fundamentals with correct environment variable
  themes/default/content/learn/pulumi-fundamentals/configure-and-provision/index.md
Labels: kind/bug, area/learn

#2365 Blogpost: `The Easier Way to Create Pulumi Providers in Go`
  themes/default/content/blog/pulumi-go-boilerplate-v2/index.md
  themes/default/content/blog/pulumi-go-boilerplate-v2/meta.png
Labels: area/blog

#2231 Amazing Performance intro post
  themes/default/content/blog/amazing-performance/analytics-dashboard.jpg
  themes/default/content/blog/amazing-performance/appdash.jpg
  themes/default/content/blog/amazing-performance/architecture.svg
  themes/default/content/blog/amazing-performance/index.md
  themes/default/content/blog/amazing-performance/meta.png
  themes/default/content/blog/amazing-performance/metabot.jpg
Labels: area/blog

#2431 Add 'Automating Pulumi Import to Bring Manually Created Resources into IaC'
  themes/default/content/blog/automating-pulumi-import-to-bring-manually-created-resources-into-iac/automating-pulumi-import.png
  themes/default/content/blog/automating-pulumi-import-to-bring-manually-created-resources-into-iac/index.md
Labels: area/blog
