Repository pulumi/pulumi-hugo, pull requests merged in 2024-02, with the labels that each got.

#3865 Release Notes 99
  themes/default/content/blog/pulumi-release-notes-94/index.md
  themes/default/content/blog/pulumi-release-notes-99/index.md
  themes/default/content/blog/pulumi-release-notes-99/meta.png
  themes/default/content/blog/pulumi-release-notes-99/new-community-providers.png
  themes/default/content/blog/pulumi-release-notes-99/new-provider-resources-functions.png
  themes/default/content/blog/pulumi-release-notes-99/pulumi-esc-growth.png
Labels: do-not-merge

#3900 Add BMW and SST case studies
  themes/default/content/case-studies/bmw.md
  themes/default/content/case-studies/mercedes-benz.md
  themes/default/content/case-studies/sst.md
  themes/default/static/images/solutions/ai-arch/pinecone-refarch-diagram.png
  themes/default/static/logos/customers/bmw-logo.png
  themes/default/static/logos/customers/sst-logo.svg
Labels: area/www

#3904 Add install alias to root of web site
  themes/default/content/docs/install/_index.md
Labels: area/www, kind/enhancement, size/XS

#3918 Fixed the line numbers for code inject
  themes/default/content/docs/using-pulumi/define-and-provision-resources/index.md
Labels: area/docs, kind/bug

#3925 feat: add Easy LangServe Apps with Pulumi on AWS blog
  themes/default/content/blog/easy-langserve-apps-with-pulumi/architecture.png
  themes/default/content/blog/easy-langserve-apps-with-pulumi/gandalf-aws.png
  themes/default/content/blog/easy-langserve-apps-with-pulumi/index.md
  themes/default/content/blog/easy-langserve-apps-with-pulumi/langserve-pinecone.png
  themes/default/content/blog/easy-langserve-apps-with-pulumi/meta.png
  themes/default/content/blog/easy-langserve-apps-with-pulumi/pinecone-console.png
  themes/default/content/blog/easy-langserve-apps-with-pulumi/playground.png
Labels: area/blog, size/S

#3961 Fix missing video
  themes/default/content/resources/from-zero-to-production-in-kubernetes/index.md
Labels: kind/task, size/XS, area/website
