Repository pulumi/pulumi-hugo, pull requests merged in 2024-04, with the labels that each got.

#4128 Proposing Modification to the Subject Claim Examples for AWS OIDC
  themes/default/content/docs/pulumi-cloud/oidc/aws.md
Labels: area/docs, kind/enhancement, size/XS

#4002 Wrap up the Zephyr series
  themes/default/content/blog/iac-recommended-practices-code-organization-and-stacks/index.md
  themes/default/content/blog/iac-recommended-practices-developer-stacks-git-branches/index.md
  themes/default/content/blog/iac-recommended-practices-rbac-and-security/index.md
  themes/default/content/blog/iac-recommended-practices-structuring-pulumi-projects/index.md
  themes/default/content/blog/iac-recommended-practices-using-automation-api/index.md
  themes/default/content/blog/iac-recommended-practices-using-stack-references/index.md
  themes/default/content/blog/iac-recommended-practices-wrapping-up/index.md
  themes/default/content/blog/iac-recommended-practices-wrapping-up/meta.png
Labels: area/blog, size/S, kind/task

#4155 feat: add ai-slack-bot-adding-data-to-pinecone-using-s3-embedchain-and-pulumi-on-aws blog
  themes/default/content/blog/ai-slack-bot-adding-data-to-pinecone-using-s3-embedchain-and-pulumi-on-aws/arti-architecture-blog-2.png
  themes/default/content/blog/ai-slack-bot-adding-data-to-pinecone-using-s3-embedchain-and-pulumi-on-aws/arti-architecture.png
  themes/default/content/blog/ai-slack-bot-adding-data-to-pinecone-using-s3-embedchain-and-pulumi-on-aws/dia.png
  themes/default/content/blog/ai-slack-bot-adding-data-to-pinecone-using-s3-embedchain-and-pulumi-on-aws/dia2.png
  themes/default/content/blog/ai-slack-bot-adding-data-to-pinecone-using-s3-embedchain-and-pulumi-on-aws/index.md
  themes/default/content/blog/ai-slack-bot-adding-data-to-pinecone-using-s3-embedchain-and-pulumi-on-aws/meta.png
Labels: area/blog

#4183 feat: add new talk to my community page
  themes/default/content/community/community-engineering/engin-diri.md
Labels: area/marketing
