Repository pulumi/pulumi-hugo, pull requests merged in 2024-03, with the labels that each got.

#4036 Fix broken links
  themes/default/content/blog/the-industry-comes-together-for-the-cloud-engineering-summit-2021/index.md
  themes/default/content/docs/concepts/inputs-outputs/all.md
  themes/default/content/docs/get-started/_index.md
  themes/default/content/docs/using-pulumi/adopting-pulumi/import/_index.md
  themes/default/static/programs/aws-simulated-server-interpolate-go/go.mod.txt
  themes/default/static/programs/awsx-ecr-eks-deployment-service-go/go.mod.txt
  themes/default/static/programs/awsx-ecr-image-go/go.mod.txt
  themes/default/static/programs/awsx-ecr-repository-go/go.mod.txt
  themes/default/static/programs/awsx-load-balanced-fargate-ecr-go/go.mod.txt
  themes/default/static/programs/awsx-load-balanced-fargate-nginx-go/go.mod.txt
  themes/default/static/programs/awsx-vpc-fargate-service-go/go.mod.txt
Labels: area/docs, kind/bug, size/XS

#4055 Adds docs for Pulumi ESC 1Password provider
  themes/default/content/docs/esc/providers/1password-secrets.md
  themes/default/content/docs/esc/providers/_index.md
  themes/default/content/docs/esc/reference.md
Labels: impact/no-changelog-required

#4068 feat: add "An AI Slack bot to chat with your data using Embedchain, Pulumi on AWS" blog
  themes/default/content/blog/ai-slack-bot-to-chat-using-embedchain-and-pulumi-on-aws/arti-architecture.png
  themes/default/content/blog/ai-slack-bot-to-chat-using-embedchain-and-pulumi-on-aws/arti-slack.png
  themes/default/content/blog/ai-slack-bot-to-chat-using-embedchain-and-pulumi-on-aws/diagram.png
  themes/default/content/blog/ai-slack-bot-to-chat-using-embedchain-and-pulumi-on-aws/index.md
  themes/default/content/blog/ai-slack-bot-to-chat-using-embedchain-and-pulumi-on-aws/meta.png
Labels: area/blog

#4108 Update 1password-secrets.md
  themes/default/content/docs/esc/providers/1password-secrets.md
Labels: size/XS
